body{
    background-color: #f7fffc;
}

h1{
    color: blue;
    text-align: center;
}
p{
    color:green;
    font-family: Verdana;
    font-size:19;
}
.header{
    /*margin: 30px 20px 10px 0*/
    height: 10%;
    font-style: sans-serif;
    position: fixed;
    top:2%;
    left:0;
}

li{
    display:inline;
    margin: 0 25px 0;
}
.header > * {
    display:inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}
.logo{
    width:15%;
}

.logo>img{
    width:30%;
}

.navbar{
    width:60%;
    text-align: center;
    font-weight: 500;
    margin: 0 25px;
    color:#025157;
}
.actions{
    font-size: 14px;
    width:15%;
    text-align: right;
    margin: 0 10px;
    font-weight: 600;
}
.actions > a{
    color:#67b54b;
    font-size: 14px;
    width:15;
    text-align: center;
    margin: 0 10px;
}
.actions > button{
    color:white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
    text-align: right;
    top: 0%;
    left: 100%;


}
.main{
    margin-top: 15%;
    text-align: center;

}

.article{
    font-size: 1.5rem;
    background-color: white;
    font-family: 'Times New Roman';
}

.aside{
    display:block;
    text-align: right; 
}